@import 'component/button/ui/_buttonReference.scss';
@import 'component/text/ui/_textInputReference.scss';
@import 'main/ui/reference/_color.scss';
@import 'main/ui/reference/_shape.scss';

.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  min-height: 0;

  .listViewTitle,
  .mapTitle {
    margin-bottom: 15px;

    color: white;

    font-size: 18px;
  }

  .listViewContainer {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 50%;
    min-height: 0;

    align-self: stretch;
  }

  .listViewWrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 0;

    flex: 1 1 auto;
  }

  .listView {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
  }

  .listViewInputPanel {
    flex: 0 0 auto;
  }

  .listViewInputPanel,
  .listViewSearchInputContainer,
  .listViewSearchInput {
    width: 100%;
  }

  .listViewSearchInputContainer {
    margin-bottom: 15px;
  }

  .listViewSearchInput {
    @include medium-rounded-text-input($border-color: $light-grey);
  }

  .listViewSortButton {
    @include small-rounded-button($primary-theme-color, white);

    margin-bottom: 15px;

    &:not(.isAscending) {
      :global {
        .button__icon {
          @include triangle($direction: 'down', $width: 8px, $height: 8px, $color: white);
        }
      }
    }

    &.isAscending {
      :global {
        .button__icon {
          @include triangle($direction: 'up', $width: 8px, $height: 8px, $color: white);
        }
      }
    }
  }

  .mapContainer {
    display: flex;
    flex-direction: column;

    flex: 1 1 auto;

    align-self: stretch;
  }

  .mapWrapper {
    position: relative;

    width: 100%;

    &:before {
      display: block;

      padding-top: 100%;

      content: '';
    }
  }

  .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mapContainer,
  .listViewContainer {
    padding: 5px;
  }
}
