.root {
  position: relative;

  display: block;

  background-color: transparent;

  transition-timing-function: ease-out;
  transition-duration: 200ms;
  transition-property: opacity, background-color, color;

  .content {
    display: block;
  }

  .iconContainer {
    position: relative;

    display: inline-block;

    flex: 0 0 auto;
  }

  .iconContainer + .text {
    margin-left: 10px;
  }

  .icon {
    display: block;

    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .pendingIndicator {
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  &.isPending,
  &:disabled {
    cursor: not-allowed;
  }

  &:not(.isPending) {
    &:disabled {
      opacity: 0.3;
    }
  }
}
