.root {
  width: 100%;

  .listItem {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .spinner {
    margin: auto;
  }

  .emptyStateContainer {
    width: 100%;

    text-align: center;
  }
}
