* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  font-size: inherit;
}

button,
input[type='button'],
input[type='submit'] {
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

textarea, input {
  outline: none;
}

input,
select,
textarea,
button {
  border-radius: 0;
  appearance: none;

  &:disabled {
    opacity: 1;

    cursor: not-allowed;
  }
}

address {
  margin: 0;

  font-style: normal;
}

fieldset {
  min-width: 0;

  margin: 0;
  padding: 0;

  border: none;
}

p {
  margin: 0;
}

img {
  margin: 0;
}

input[type='range'] {
  width: 100%;

  background: transparent;

  appearance: none;

  &::-webkit-slider-thumb {
    appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;

    color: transparent;
    background: transparent;
    border-color: transparent;

    cursor: pointer;
  }
}
