html {
  min-height: 100%;

  overflow-x: hidden;

  font-family: sans-serif;
}

body {
  min-height: 0;
  flex: 1 1 auto;

  font-family: sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;

  margin: 0;
  padding: 0;

  border: 0;
}

:global {
  .app-body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 0;
    flex: 1 1 auto;
  }
}
