@import 'component/button/ui/_buttonReference.scss';
@import '../../../main/ui/reference/color';

.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  padding: 5px;

  color: $tertiary-theme-color;
  background-color: white;
  border: 2px solid $mercury;
  border-radius: 4px;

  .info {
    min-width: 0;
    flex: 1 1 auto;

    margin-right: 15px;
  }

  .infoLabel {
    font-weight: 700;
  }

  .infoValue {
    color: $tertiary-theme-color;

    word-break: break-all;
  }

  .deleteButton {
    @include small-rounded-button($bg-color: $primary-theme-color, $text-color: white);

    flex: 0 0 auto;

    margin-left: auto;
    margin-right: 15px;
  }

  &.isActive {
    background-color: lighten($primary-theme-color, 40%);
  }
}
