/* stylelint-disable color-no-hex */
$coral: #F54545;
$warm-grey: #818181;
$light-grey: #C8C8C8;
$alizarin-crimson: #D61F26;
$mercury: #E1E1E1;
$almost-black: #050506;
$lightning-yellow: #FFC713;

$primary-theme-color: $alizarin-crimson;
$secondary-theme-color: white;
$tertiary-theme-color: $almost-black;
$quaternary-theme-color: $lightning-yellow;

$primary-error-color: $primary-theme-color;
$secondary-error-color: $lightning-yellow;
/* stylelint-enable color-no-hex */
