.root {
  position: relative;

  .inputContainer {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .resultListContainer {
    position: absolute;
    top: 100%;
    z-index: 1;

    width: 100%;
    min-height: 40px;
    max-height: 300px;

    overflow: auto;

    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);

    &:empty {
      display: none;
    }
  }

  .resultList {
    width: 100%;
  }

  .resultListItem {
    width: 100%;

    cursor: pointer;
  }

  .resultSpinnerContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.4);
  }

  .resultSpinner {
    margin: auto;
  }
}
