@import 'component/button/ui/_buttonReference.scss';
@import 'component/text/ui/_textInputReference.scss';
@import 'main/ui/reference/_color.scss';

.root {
  display: block;

  width: 100%;

  .fieldContainer {
    width: 100%;

    margin: 10px 0;
  }

  .fieldInput {
    @include medium-rounded-text-input($border-color: transparent);
  }

  .fieldInfoRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 30px;

    margin-top: 5px;

    color: white;
  }

  .fieldInfoValue,
  .fieldInfoLabel {
    flex: 0 1 auto;
  }

  .fieldInfoLabel {
    margin-right: 5px;
  }

  .fieldInfoValue {
    margin-right: 15px;
  }

  .clearLocationButton {
    @include x-small-rounded-button($bg-color: $secondary-theme-color, $text-color: $primary-theme-color);

    margin-top: 5px;
    margin-bottom: 5px;
  }

  .submitButton {
    @include medium-rounded-button($bg-color: $secondary-theme-color, $text-color: $primary-theme-color);

    margin-top: 15px;
  }
}
