@import 'component/button/ui/_buttonReference.scss';
@import '../main/ui/reference/color';

.root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  min-height: 0;
  flex: 1 1 auto;

  .header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;

    background-color: $primary-theme-color;
  }

  .headerLogo {
    display: block;

    height: 50px;

    margin: auto;
  }

  .body {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 0;
    flex: 1 1 auto;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 0;
    flex: 1 1 auto;

    padding: 20px;

    background-color: white;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 0;
    flex: 1 1 auto;
  }

  .managementView {
    flex: 1 1 auto;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    max-width: 400px;

    padding: 60px 20px 20px;

    background-color: $primary-theme-color;

    transform: translateX(-100%);
    transition: transform 200ms ease-out;
  }

  .sidebarOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .displaySideBarButton {
    position: absolute;
    top: 26px;
    left: 15px;

    :global {
      .button__icon {
        width: 24px;
        height: 24px;

        background-image: url('../../asset/white-hamburger-icon.svg');
      }
    }
  }

  .hideSideBarButton {
    position: absolute;
    top: 30px;
    right: 25px;

    :global {
      .button__icon {
        width: 20px;
        height: 20px;

        background-image: url('../../asset/white-x-icon.svg');
      }
    }
  }

  &.isSideBarVisible {
    .sidebar {
      transform: translateX(0);
    }
  }
}
