@function get-active-bg-color-for-opaque-button($bg-color, $text-color, $border-color) {
  $active-bg-color: darken($bg-color, 8%);

  @return $active-bg-color;
}

@function get-active-bg-color-for-transparent-button($bg-color, $text-color, $border-color) {
  $active-bg-color: darken($bg-color, 20%);

  @return $active-bg-color;
}

@function get-active-bg-color-for-button($bg-color, $text-color, $border-color) {
  $active-bg-color: null;

  @if $bg-color == transparent or $bg-color == white {
    $active-bg-color: get-active-bg-color-for-transparent-button($bg-color, $text-color, $border-color);
  } @else {
    $active-bg-color: get-active-bg-color-for-opaque-button($bg-color, $text-color, $border-color);
  }

  @return $active-bg-color;
}

@function get-active-text-color-for-opaque-button($bg-color, $text-color, $border-color) {
  @return $text-color;
}

@function get-active-text-color-for-transparent-button($bg-color, $text-color, $border-color) {
  $active-text-color: $text-color;

  @return $active-text-color;
}

@function get-active-text-color-for-button($bg-color, $text-color, $border-color) {
  $active-text-color: null;

  @if $bg-color == transparent or $bg-color == white {
    $active-text-color: get-active-text-color-for-transparent-button($bg-color, $text-color, $border-color);
  } @else {
    $active-color: get-active-text-color-for-opaque-button($bg-color, $text-color, $border-color);
  }

  @return $active-text-color;
}

@function get-hover-box-shadow-for-transparent-button($bg-color, $text-color, $border-color) {
  @return 0 2px 10px 0 rgba($border-color, 0.6);
}

@function get-hover-box-shadow-for-opaque-button($bg-color, $text-color, $border-color) {
  @return 0 2px 10px 0 rgba($border-color, 0.6);
}

@function get-hover-box-shadow-for-button($bg-color, $text-color, $border-color) {
  $hover-box-shadow: null;

  @if $bg-color == transparent or $bg-color == white {
    $hover-box-shadow: get-hover-box-shadow-for-transparent-button($bg-color, $text-color, $border-color);
  } @else {
    $hover-box-shadow: get-hover-box-shadow-for-opaque-button($bg-color, $text-color, $border-color);
  }

  @return $hover-box-shadow;
}

@function get-active-border-color-for-transparent-button($bg-color, $text-color, $border-color) {
  $active-border-color: $text-color;

  @return $active-border-color;
}

@function get-active-border-color-for-opaque-button($bg-color, $text-color, $border-color) {
  @return $border-color;
}

@function get-active-border-color-for-button($bg-color, $text-color, $border-color) {
  $active-border-color: null;

  @if $bg-color == transparent or $bg-color == white {
    $active-border-color: get-active-border-color-for-transparent-button($bg-color, $text-color, $border-color);
  } @else {
    $active-border-color: get-active-border-color-for-opaque-button($bg-color, $text-color, $border-color);
  }

  @return $active-border-color;
}

@function get-hover-text-color-for-transparent-button($bg-color, $text-color, $border-color) {
  $hover-text-color: $text-color;

  @return $hover-text-color;
}

@function get-hover-text-color-for-opaque-button($bg-color, $text-color, $border-color) {
  @return $text-color;
}

@function get-hover-text-color-for-button($bg-color, $text-color, $border-color) {
  $hover-text-color: null;

  @if $bg-color == transparent or $bg-color == white {
    $hover-text-color: get-hover-text-color-for-transparent-button($bg-color, $text-color, $border-color);
  } @else {
    $hover-text-color: get-hover-text-color-for-opaque-button($bg-color, $text-color, $border-color);
  }

  @return $hover-text-color;
}

@function get-hover-border-color-for-transparent-button($bg-color, $text-color, $border-color) {
  $hover-border-color: $text-color;

  @return $hover-border-color;
}

@function get-hover-border-color-for-opaque-button($bg-color, $text-color, $border-color) {
  @return $border-color;
}

@function get-hover-border-color-for-button($bg-color, $text-color, $border-color) {
  $hover-border-color: null;

  @if $bg-color == transparent or $bg-color == white {
    $hover-border-color: get-hover-border-color-for-transparent-button($bg-color, $text-color, $border-color);
  } @else {
    $hover-border-color: get-hover-border-color-for-opaque-button($bg-color, $text-color, $border-color);
  }

  @return $hover-border-color;
}

@mixin default-button($bg-color, $text-color, $border-color) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $border-color;

  .button__text {
    color: $text-color;
  }

  &:not(:disabled):not(.pending):hover {
    color: get-hover-text-color-for-button($bg-color, $text-color, $border-color);
    border-color: get-hover-border-color-for-button($bg-color, $text-color, $border-color);
    box-shadow: get-hover-box-shadow-for-button($bg-color, $text-color, $border-color);
  }

  &:not(:disabled):not(.pending):active {
    color: get-active-text-color-for-button($bg-color, $text-color, $border-color);
    background-color: get-active-bg-color-for-button($bg-color, $text-color, $border-color);
    border-color: get-active-border-color-for-button($bg-color, $text-color, $border-color);
  }
}

@mixin default-rounded-button($bg-color, $text-color, $border-color) {
  @include default-button($bg-color, $text-color, $border-color);

  padding-left: 10px;
  padding-right: 10px;

  border-radius: 2px;

  .button__content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;
  }
}

@mixin x-small-rounded-button($bg-color, $text-color, $border-color: $bg-color){
  @include default-rounded-button($bg-color, $text-color, $border-color);

  height: 20px;

  font-size: 10px;
}

@mixin small-rounded-button($bg-color, $text-color, $border-color: $bg-color) {
  @include default-rounded-button($bg-color, $text-color, $border-color);

  height: 30px;

  font-size: 12px;
}

@mixin medium-rounded-button($bg-color, $text-color, $border-color: $bg-color) {
  @include default-rounded-button($bg-color, $text-color, $border-color);

  height: 40px;

  font-size: 14px;
}
