<!doctype html>
<html lang="en" class="page">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <meta name="theme-color" content="#ffffff">

    <title>DH Favourites</title>
  </head>
  <body class="app-body">
    <div id="root"
         class="app-body-content">
    </div>

    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>
