@import 'main/ui/reference/_color.scss';

$default-text-input-vertical-padding: 5px;
$default-text-input-horizontal-padding: 10px;
$default-text-input-height: 45px;
$default-input-border-radius-size: 2px;

$default-text-input-placeholder-color: lighten($primary-theme-color, 25%);
$default-text-input-disabled-color: rgba($warm-grey, 0.5);

@mixin text-input-disabled-styles($disabled-text-color: $default-text-input-disabled-color) {
  &:disabled {
    color: $disabled-text-color;
    -webkit-text-fill-color: $disabled-text-color;
  }
}

@mixin text-input-error-styles() {
  :local(&):global(.has-error) {
    color: $primary-error-color;
    background-color: lighten($secondary-error-color, 10%);
    border-color: $primary-error-color;
  }
}

@mixin rounded-text-input(
  $text-color: $almost-black,
  $placeholder-color: $default-text-input-placeholder-color,
  $border-color: $text-color) {
  @include text-input-error-styles();
  @include text-input-disabled-styles();

  padding: 5px 10px;

  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 2px;

  font-size: 14px;

  transition-timing-function: ease-out;
  transition-duration: 200ms;

  transition-property: border-color, color, background-color;

  &::placeholder {
    color: $placeholder-color;
  }
}

@mixin medium-rounded-text-input(
  $text-color: $almost-black,
  $placeholder-color: $default-text-input-placeholder-color,
  $border-color: $text-color) {
  @include rounded-text-input($text-color, $placeholder-color, $border-color);

  height: 40px;
}
