@import 'main/ui/reference/_color.scss';

.root {
  $default-size: 20px;

  position: relative;

  display: flex;

  width: $default-size;
  height: $default-size;

  .crescent {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    border-width: 2px;
    border-style: solid;
    border-color: $primary-theme-color transparent transparent;

    border-radius: 50%;

    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
